:root{
	--bg:#0a1428;
	--ca:#0026FF;
	--cb:#EB150D;
	--cc:#666666;
}
*{
	box-sizing:border-box;
	margin:0;
}
body{
	display:flex;
	background:skyblue;
	justify-content:center;
	align-items:center;
	height:100vh;
}
.form-inscrip{
	flex:1;
	margin-top:auto;
	margin-bottom:auto;
	border-radius:30px;
	padding:2px 15px;
	background:var(--ca);
	max-width:600px;
}
.form-entete{
	border-bottom:1px solid #cccc;
	padding:15px 2px;
	text-align:center;
	color:#666;
	font-size:15px;
}
.form-corps{
	background:white;
	border-radius:10px;
	padding:5px 10px;
}
.ligne{
	padding:10px 2px;
	display:flex;
}
.entree{
	flex:1;
	display:flex;
	flex-direction:column;
	margin:10px 5px;
}
label{
	color:#0026FF;
	font-size:17px;
}
input[type="text"],[type="email"],[type="number"],[type="password"],[type="file"],select,textarea{
	width:100%;
	font-size:18px;
	height:34px;
	padding:0 10px;
	color:#666;
	border:1px solid #56E5FB;
	border-radius:5px;
	background:white;
	outline:none;
}

.entreer{
	display:flex;
}
.entreer div{
	flex:1;
}
.entree-rang{
	display:flex;
}
.entree-rang input{
	 flex:1;
}
.entree-rang label{
	margin-left:10px;
	background:#0026FF;
	color:white;
	border-radius:5px;
	padding:5px;
	font-size:17px;
	text-align:center;
}

.form-pied{
	display:flex;
	justify-content:flex-end;
	padding:15px;
}
.btn{
	padding:10px 20px;
	background-color:var(--ca);
	font-size:17px;
	border:solid var(--cc);
	border-radius:99px;
	color:#bcf5e7;
	cursor:pointer;
	transition:.3s ease-in-out;
}
.btn:hover{
	background-color:var(--cb);
}
.ligne input:focus ~ .ligne label{
	color:var(--cb);
	border:none;
}
.ligne input:valid ~ label{
	color:var(--ca);
}

@media only screen and (max-width:1000px){
	.ligne{
		flex-direction:column;
	}
	.btn{
		flex:1;
	}
}
